<%= form_with(model: feed, class: "contents") do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
        <% feed.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :url %>
    <%= form.text_field :url, class: "block shadow rounded-md border border-gray-400 text-baseBg-8 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if @feed.persisted? %>
    <div class="my-5">
      <%= form.label :generator %>
      <%= form.select :generator,
        Feed::GENERATORS.map { |key, value| [key.to_s.humanize, value] },
        {},
        class: "form-control rounded text-black"
      %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :skip_summarization, "Skip summarization" %>
    <%= form.check_box :skip_summarization %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-accent text-baseBg-8 inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
