<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h2> <%= link_to @feed.name, @feed %> </h2>

    <div class="inline-block ml-2">
      <%= button_to "\u{21BB} Fetch all articles", update_articles_feed_path(@feed.id), method: :patch,
        remote: true, params: {include_all_articles: true},
        class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded"
      %>
    </div>
    <div class="inline-block ml-2">
      <%= button_to "\u{1F5D1}", @feed,
        method: :delete,
        data: { turbo_confirm: 'Sure to delete this feed?' },
        class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded'
      %>
    </div>

    <%= render 'articles/articles', articles: @articles if @articles.present? %>
  </div>
</div>
