<div id="<%= dom_id article %>">
  <h1> <strong> <%= article.title %> </strong> </h1>

  <p class='m-0'>
    <strong class="font-medium">Feed:</strong>
    <%= article.feed.name %>
  </p>

  <p class='m-0'>
    <strong class="font-medium">Url:</strong>
    <%= article.url %>
  </p>

  <p class='m-0'>
    <strong class="font-medium">Published at:</strong>
    <%= format_date(article.published_at) %>
  </p>

  <p class='m-0'>
    <strong class="font-medium">Status:</strong>
    <%= article.status %>
  </p>

  <p class='m-0'>
    <strong class="font-medium">Content:</strong>
    <%= sanitize(article.content) %>
  </p>

</div>
