<div id="<%= dom_id article %>">
  <header class="article-header pb-5">
    <h1 class="text-4xl font-bold">
      <%= link_to article.title, article.url, class: ' hover:underline' %>
    </h1>

    <div class="meta text-sm text-gray-500">
      <p> By <span class="font-semibold"><%= article.feed.name %></span> </p>
      <p> Published on <time datetime="<%= article.published_at.iso8601 %>"><%= format_date(article.published_at) %></time> </p>
      <p> Status: <span class=" text-green-600"><%= article.status.capitalize %></span> </p>
    </div>
  </header>

  <article class='prose-rss prose-inherit text-text-1 pb-3 max-w-screen-md'>
    <%= sanitize(article.content) %>
  </article>

</div>
