<div id="<%= dom_id article %>">
  <p class="my-5">
    <strong class="font-medium mb-1">Feed:</strong>
    <%= article.feed_id %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Title:</strong>
    <%= article.title %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Url:</strong>
    <%= article.url %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Published at:</strong>
    <%= article.published_at %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">User:</strong>
    <%= article.user_id %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Status:</strong>
    <%= article.status %>
  </p>

</div>
