<div
  id="<%= dom_id article %>"
  data-controller="scroll-tracker"
  data-status="<%= article.status %>"
>
  <header class="article-header pb-5">
    <h1 class="text-4xl font-bold">
      <%= link_to article.title, article.url, class: ' hover:underline' %>
    </h1>

    <div class="meta text-sm text-gray-500">
      <p> By <span class="font-semibold"><%= article.feed.name %></span> </p>
      <p> Published on <time datetime="<%= article.published_at.iso8601 %>"><%= format_date(article.published_at) %></time> </p>
      <p>
        Status:
        <span class=" text-green-600" id="<%= dom_id(article, :status_text) %>">
          <%= article.status.capitalize %>
        </span>
      </p>
      <%= button_to 'Mark as read/unread',
        toggle_status_article_path(article.id),
        method: :patch,
        class: 'px-2 py-1 text-sm text-gray-700 bg-gray-200 rounded hover:bg-gray-300'
      %>
  </header>

  <% if article.content %>
    <%= render "summary", article: article %>

    <article class='prose-rss prose-inherit text-text-1 pb-3 max-w-screen-md'>
      <%= sanitize(article.content) %>
    </article>
  <% end %>

  <div class="h-1 mt-12" data-scroll-tracker-target="sentinel" ></div>
</div>
