<div class='w-full'>

  <% if flash[:alert] %>
    <div class="bg-red-500 text-white p-4 rounded-md mb-4 w-2/4">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="bg-green-500 text-white p-4 rounded-md mb-4 w-2/4">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <h3 class='text-4xl'>Details</h3>

  <div class='flex items-center'>
    <label class='block mr-3'>Name:</label>
    <%= tag.input value: @user.name,
      readonly: true,
      class: 'mt-1 p-2 bg-text-1 text-slate-800 border rounded-md w-2/4'
    %>
  </div>

  <div class='flex items-center mt-3 '>
    <label class='block mr-3'>Email:</label>
    <%= tag.input value: @user.email_address,
      readonly: true,
      class: 'mt-1 p-2 bg-text-1 text-slate-700 border rounded-md w-2/4'
    %>
  </div>


  <hr class="mt-6 mb-2"/>

  <h3 class="text-4xl font-semibold mb-8">Manage Gemini API Key</h3>

  <% if @user.api_key? %>
    <p class="text-lg text-gray-600">
      You have an API key saved.
    </p>
    <%= form_with model: @user, url: update_api_key_users_path, method: :patch do |form| %>
      <div class="mt-4">
        <%= form.hidden_field :api_key, value: "" %>
        <%= form.submit "Remove API Key", class: "px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700", data: { confirm: "Are you sure you want to remove your API key?" } %>
      </div>
    <% end %>
  <% else %>
    <p class="text-lg text-red-600">
      No API key saved.
    </p>
  <% end %>
  <%= form_with(model: @user, url: update_api_key_users_path, method: :patch, local: true) do |form| %>
    <div class="mt-4">
      <label class="block text-lg font-medium">API Key</label>
      <%= form.password_field :api_key,
        placeholder: "Enter your API key",
        class: "block w-2/4 p-2 border rounded-lg text-slate-800" %>
    </div>

    <div class="mt-4">
      <%= form.submit "Save API Key",
        class: "py-3 px-5 rounded-lg font-medium bg-accent text-baseBg-8 max-w-xs hover:cursor-pointer"
      %>
    </div>
  <% end %>

  <hr class="mt-6 mb-2"/>

  <h3 class="text-4xl font-semibold mb-8">Data</h3>
  <div class="mt-6">

    <h4 class="text-xl font-medium">Export OPML</h4>
    <p class="text-lg">You can export your OPML file to back up your data or share it with others.</p>
    <%= link_to export_opml_users_path, class: 'max-w-xs rounded-lg py-3 px-5 bg-accent text-baseBg-8 block text-center font-medium transition duration-200 hover:bg-accent-dark' do %>
      Export OPML
    <% end %>
  </div>

  <div class="mt-6">
    <h4 class="text-xl font-medium">Import OPML</h4>
    <p class="text-lg">Upload OPML file to import your.</p>

    <%= form_with(url: import_via_opml_user_path, local: true, method: :post, enctype: "multipart/form-data") do |form| %>
      <div class="space-y-2">
        <%= form.file_field :opml_file,
          accept: '.opml',
          required: true,
          class: 'block w-full text-sm border rounded-lg focus:ring-primary focus:border-primary max-w-xs'
        %>
      </div>

      <div class="mt-4">
        <%= form.submit "Import Feeds from OPML",
          class: 'w-full py-3 px-5 rounded-lg font-medium bg-accent text-baseBg-8 max-w-xs hover:cursor-pointer'
        %>
      </div>
    <% end %>
  </div>
</div>
