<nav
  class='bg-sidebarBg-6 flex flex-col min-h-screen sticky p-3 shadow-lg rounded-r-lg '
  data-expanded="<%= cookies[:sidebar_expanded] || 'true' %>"
  data-controller='sidebar'
>
  <div class='flex items-center border-b border-gray-200 mb-4 [[data-expanded=true]_&]:hidden'>
    <%= link_to profile_user_path(Current.user.id)  do %>
      <p class='text-xl'>Hello, <%= Current.user.name %>!</p>
    <% end %>
  </div>

  <div
      class='flex items-center mb-2 p-1 rounded-md transition-transform duration-200 hover:bg-sidebarBg-7'
      data-action="click->sidebar#toggle">
    <span class="[[data-expanded=true]_&]:hidden">&#129092; Toggle</span>
    <span class="[[data-expanded=false]_&]:hidden">&#129094;</span>
  </div>

  <div class='flex items-center mb-2 p-1 rounded-md transition-transform duration-200 hover:bg-sidebarBg-7'>
    <%= link_to home_index_path  do %>
      <span class="[[data-expanded=true]_&]:hidden">&#x1F3E0; Home</span>
      <span class="[[data-expanded=false]_&]:hidden">&#x1F3E0;</span>
    <% end%>
  </div>

  <div class='flex items-center mb-2 p-1 rounded-md transition-transform duration-200 hover:bg-sidebarBg-7'>
    <%= link_to feeds_path do %>
      <span class="[[data-expanded=true]_&]:hidden">&#x1F4F0; Feeds</span>
      <span class="[[data-expanded=false]_&]:hidden">&#x1F4F0;</span>
    <% end%>
  </div>

  <%= render "folders/sidebar_folders" %>

  <div class='flex items-center mb-2 p-1 rounded-md transition-transform duration-200 hover:bg-sidebarBg-7'>
    <%= button_to session_path, method: :delete, class: 'btn-logout' do %>
      <span class="[[data-expanded=true]_&]:hidden">&#x1F6AA; Logout</span>
      <span class="[[data-expanded=false]_&]:hidden">&#x1F6AA;</span>
    <% end %>
  </div>
</nav>
